#main-content {
  padding-top: 40px;
  width: 100%;
}
.navbar {
  padding: 10px 40px;
  width: 100%;
}
section {
  margin: 40px 0;
  width: 100%;
}
table {
  margin: 40px 0;
}
tr, th, td {
  border: 1px solid #000;
  padding: 5px;
}
.table-time {
  text-align: right;
}
.table-entry {
  text-align: center;
}
.modal-text-right {
  text-align: right;
}
ol {
  list-style-type: upper-roman;
}
.text-left {
  text-align: left;
}
.no-bullet-list {
  list-style-type: none;
  text-align: left;
  text-indent: 10px;
}
.modal-backdrop {
  z-index: 1020!important;
}